In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv
import re
from sklearn.preprocessing import MaxAbsScaler
%matplotlib inline

In [2]:
f1 = 'anime.csv'
f2 = 'rating.csv'

In [3]:
df = pd.read_csv(f1)
rf = pd.read_csv(f2)

In [4]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
rf.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [6]:
df.anime_id.unique()

array([32281,  5114, 28977, ...,  5621,  6133, 26081], dtype=int64)

In [7]:
df.episodes.unique()

array(['1', '64', '51', '24', '10', '148', '110', '13', '201', '25', '22',
       '75', '4', '26', '12', '27', '43', '74', '37', '2', '11', '99',
       'Unknown', '39', '101', '47', '50', '62', '33', '112', '23', '3',
       '94', '6', '8', '14', '7', '40', '15', '203', '77', '291', '120',
       '102', '96', '38', '79', '175', '103', '70', '153', '45', '5', '21',
       '63', '52', '28', '145', '36', '69', '60', '178', '114', '35', '61',
       '34', '109', '20', '9', '49', '366', '97', '48', '78', '358', '155',
       '104', '113', '54', '167', '161', '42', '142', '31', '373', '220',
       '46', '195', '17', '1787', '73', '147', '127', '16', '19', '98',
       '150', '76', '53', '124', '29', '115', '224', '44', '58', '93',
       '154', '92', '67', '172', '86', '30', '276', '59', '72', '330',
       '41', '105', '128', '137', '56', '55', '65', '243', '193', '18',
       '191', '180', '91', '192', '66', '182', '32', '164', '100', '296',
       '694', '95', '68', '117', '151', '130', '87', '170', '119', '84',
       '108', '156', '140', '331', '305', '300', '510', '200', '88',
       '1471', '526', '143', '726', '136', '1818', '237', '1428', '365',
       '163', '283', '71', '260', '199', '225', '312', '240', '1306',
       '1565', '773', '1274', '90', '475', '263', '83', '85', '1006', '80',
       '162', '132', '141', '125'], dtype=object)

In [8]:
df["episodes"] = df["episodes"].map(lambda x:np.nan if x=="Unknown" else x)
df["episodes"].fillna(df['episodes'].median() ,inplace = True)
df.episodes.unique()

array(['1', '64', '51', '24', '10', '148', '110', '13', '201', '25', '22',
       '75', '4', '26', '12', '27', '43', '74', '37', '2', '11', '99', 2.0,
       '39', '101', '47', '50', '62', '33', '112', '23', '3', '94', '6',
       '8', '14', '7', '40', '15', '203', '77', '291', '120', '102', '96',
       '38', '79', '175', '103', '70', '153', '45', '5', '21', '63', '52',
       '28', '145', '36', '69', '60', '178', '114', '35', '61', '34',
       '109', '20', '9', '49', '366', '97', '48', '78', '358', '155',
       '104', '113', '54', '167', '161', '42', '142', '31', '373', '220',
       '46', '195', '17', '1787', '73', '147', '127', '16', '19', '98',
       '150', '76', '53', '124', '29', '115', '224', '44', '58', '93',
       '154', '92', '67', '172', '86', '30', '276', '59', '72', '330',
       '41', '105', '128', '137', '56', '55', '65', '243', '193', '18',
       '191', '180', '91', '192', '66', '182', '32', '164', '100', '296',
       '694', '95', '68', '117', '151', '130', '87', '170', '119', '84',
       '108', '156', '140', '331', '305', '300', '510', '200', '88',
       '1471', '526', '143', '726', '136', '1818', '237', '1428', '365',
       '163', '283', '71', '260', '199', '225', '312', '240', '1306',
       '1565', '773', '1274', '90', '475', '263', '83', '85', '1006', '80',
       '162', '132', '141', '125'], dtype=object)

In [9]:
rf.rating.unique()

array([-1, 10,  8,  6,  9,  7,  3,  5,  4,  1,  2], dtype=int64)

In [10]:
rf["rating"] = rf["rating"].map(lambda x:np.nan if x==-1 else x)

rf.rating.unique()

array([ nan,  10.,   8.,   6.,   9.,   7.,   3.,   5.,   4.,   1.,   2.])

In [11]:
fd = df.anime_id.unique()
np.sort(fd)

array([    1,     5,     6, ..., 34522, 34525, 34527], dtype=int64)

In [12]:
fr = rf.anime_id.unique()
np.sort(fr)

array([    1,     5,     6, ..., 34475, 34476, 34519], dtype=int64)

In [13]:
print len(fr)
print len(fd)

11200
12294

In [14]:
nrf = rf.dropna(axis=0, how='any')

In [15]:
nrf.shape

(6337241, 3)

In [16]:
rf.shape

(7813737, 3)

In [17]:
nrf.rating.unique()

array([ 10.,   8.,   6.,   9.,   7.,   3.,   5.,   4.,   1.,   2.])

In [18]:
def convert(string):
    try:
        string = float(string)
    except:
        string = string
    return string

In [19]:
df['episodes']=df['episodes'].map(convert)

In [20]:
df['rating']=df['rating'].map(convert)

In [21]:
newdf = pd.concat([df["genre"].str.get_dummies(sep=","),pd.get_dummies(df[["type"]]),df[["rating"]],df[["members"]],df["episodes"]],axis=1)

In [22]:
asx = newdf.dropna(axis = 0 , how ='any')

In [23]:
asx.describe()

,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,...,Yaoi,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,rating,members,episodes
count,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,...,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,12064.000000,1.206400e+04,12064.000000
mean,0.072198,0.003067,0.118369,0.002735,0.016827,0.083140,0.046751,0.145723,0.011605,0.022546,...,0.000166,0.190401,0.040451,0.054045,0.272298,0.138511,0.304294,6.473902,1.827952e+04,12.284483
std,0.258827,0.055298,0.323058,0.052232,0.128628,0.276105,0.211113,0.352843,0.107103,0.148458,...,0.012875,0.392634,0.197023,0.226116,0.445161,0.345450,0.460127,1.026746,5.527578e+04,46.661240
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.670000,1.200000e+01,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.880000,2.210000e+02,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.570000,1.539000e+03,2.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,7.180000,9.485500e+03,12.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,10.000000,1.013917e+06,1818.000000

In [24]:
newdf.columns

Index([u' Adventure', u' Cars', u' Comedy', u' Dementia', u' Demons',
       u' Drama', u' Ecchi', u' Fantasy', u' Game', u' Harem', u' Hentai',
       u' Historical', u' Horror', u' Josei', u' Kids', u' Magic',
       u' Martial Arts', u' Mecha', u' Military', u' Music', u' Mystery',
       u' Parody', u' Police', u' Psychological', u' Romance', u' Samurai',
       u' School', u' Sci-Fi', u' Seinen', u' Shoujo', u' Shoujo Ai',
       u' Shounen', u' Shounen Ai', u' Slice of Life', u' Space', u' Sports',
       u' Super Power', u' Supernatural', u' Thriller', u' Vampire', u' Yaoi',
       u' Yuri', u'Action', u'Adventure', u'Cars', u'Comedy', u'Dementia',
       u'Demons', u'Drama', u'Ecchi', u'Fantasy', u'Game', u'Harem', u'Hentai',
       u'Historical', u'Horror', u'Josei', u'Kids', u'Magic', u'Martial Arts',
       u'Mecha', u'Military', u'Music', u'Mystery', u'Parody', u'Police',
       u'Psychological', u'Romance', u'Samurai', u'School', u'Sci-Fi',
       u'Seinen', u'Shoujo', u'Shounen', u'Slice of Life', u'Space', u'Sports',
       u'Super Power', u'Supernatural', u'Thriller', u'Vampire', u'Yaoi',
       u'type_Movie', u'type_Music', u'type_ONA', u'type_OVA', u'type_Special',
       u'type_TV', u'rating', u'members', u'episodes'],
      dtype='object')

In [25]:
df["name"] = df["name"].map(lambda name:re.sub('[^A-Za-z0-9]+', " ", name))

In [26]:
df.head(30)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa,"Drama, Romance, School, Supernatural",Movie,1.0,9.37,200630
1,5114,Fullmetal Alchemist Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64.0,9.26,793665
2,28977,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.25,114262
3,9253,Steins Gate,"Sci-Fi, Thriller",TV,24.0,9.17,673572
4,9969,Gintama 039,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51.0,9.16,151266
5,32935,Haikyuu Karasuno Koukou VS Shiratorizawa Gakue...,"Comedy, Drama, School, Shounen, Sports",TV,10.0,9.15,93351
6,11061,Hunter x Hunter 2011,"Action, Adventure, Shounen, Super Power",TV,148.0,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110.0,9.11,80679
8,15335,Gintama Movie Kanketsu hen Yorozuya yo Eien Nare,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1.0,9.10,72534
9,15417,Gintama 039 Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13.0,9.11,81109
10,4181,Clannad After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24.0,9.06,456749
11,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1.0,9.05,102733
12,918,Gintama,"Action, Comedy, Historical, Parody, Samurai, S...",TV,201.0,9.04,336376
13,2904,Code Geass Hangyaku no Lelouch R2,"Action, Drama, Mecha, Military, Sci-Fi, Super ...",TV,25.0,8.98,572888
14,28891,Haikyuu Second Season,"Comedy, Drama, School, Shounen, Sports",TV,25.0,8.93,179342
15,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1.0,8.93,466254
16,23273,Shigatsu wa Kimi no Uso,"Drama, Music, Romance, School, Shounen",TV,22.0,8.92,416397
17,24701,Mushishi Zoku Shou 2nd Season,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10.0,8.88,75894
18,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1.0,8.84,226193
19,1575,Code Geass Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25.0,8.83,715151
20,263,Hajime no Ippo,"Comedy, Drama, Shounen, Sports",TV,75.0,8.83,157670
21,44,Rurouni Kenshin Meiji Kenkaku Romantan Tsuioku...,"Action, Drama, Historical, Martial Arts, Roman...",OVA,4.0,8.83,129307
22,1,Cowboy Bebop,"Action, Adventure, Comedy, Drama, Sci-Fi, Space",TV,26.0,8.82,486824
23,30276,One Punch Man,"Action, Comedy, Parody, Sci-Fi, Seinen, Super ...",TV,12.0,8.82,552458
24,164,Mononoke Hime,"Action, Adventure, Fantasy",Movie,1.0,8.81,339556
25,7311,Suzumiya Haruhi no Shoushitsu,"Comedy, Mystery, Romance, School, Sci-Fi, Supe...",Movie,1.0,8.81,240297
26,17074,Monogatari Series Second Season,"Comedy, Mystery, Romance, Supernatural, Vampire",TV,26.0,8.80,205959
27,21939,Mushishi Zoku Shou,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,10.0,8.80,101351
28,457,Mushishi,"Adventure, Fantasy, Historical, Mystery, Seine...",TV,26.0,8.78,300030
29,2001,Tengen Toppa Gurren Lagann,"Action, Adventure, Comedy, Mecha, Sci-Fi",TV,27.0,8.78,562962

In [27]:
max_abs_scaler = MaxAbsScaler()
asx = max_abs_scaler.fit_transform(asx)

In [28]:
from sklearn.neighbors import NearestNeighbors

In [29]:
nbrs = NearestNeighbors(n_neighbors=6, algorithm='ball_tree').fit(asx)

In [30]:
distances, indices = nbrs.kneighbors(asx)

In [31]:
def idee_anime(x):
    return df[df["name"]== x].index.tolist()[0]

In [32]:
idee_anime('Barakamon')

99

In [33]:
indices[22]

array([  22,  551, 1398, 2333, 3057, 6568], dtype=int64)

In [34]:
all_names = list(df.name.values)

In [35]:
def get_name(partial):
    for name in all_names:
        if partial in name:
            print(name,all_names.index(name))

In [39]:
def print_similar(query=None,id=None):
    if id:
        for id in indices[id][1:]:
            print(df.iloc[id]["name"])
    if query:
        found_id = get_name(query)
        for id in indices[found_id][1:]:
            print(df.iloc[id]["name"])

In [40]:
get_name('Naruto')

('Boruto Naruto the Movie', 486)
('Naruto Shippuuden', 615)
('The Last Naruto the Movie', 719)
('Naruto Shippuuden Movie 6 Road to Ninja', 784)
('Naruto', 841)
('Boruto Naruto the Movie Naruto ga Hokage ni Natta Hi', 1103)
('Naruto Shippuuden Movie 5 Blood Prison', 1237)
('Naruto x UT', 1343)
('Naruto Shippuuden Movie 4 The Lost Tower', 1472)
('Naruto Shippuuden Movie 3 Hi no Ishi wo Tsugu Mono', 1573)
('Naruto Shippuuden Movie 1', 1827)
('Naruto Shippuuden Movie 2 Kizuna', 1828)
('Naruto Shippuuden Shippuu quot Konoha Gakuen quot Den', 2374)
('Naruto Honoo no Chuunin Shiken Naruto vs Konohamaru ', 2416)
('Naruto SD Rock Lee no Seishun Full Power Ninden', 2457)
('Naruto Shippuuden Sunny Side Battle', 2458)
('Naruto Movie 1 Dai Katsugeki Yuki Hime Shinobu Houjou Dattebayo ', 2756)
('Naruto Soyokazeden Movie Naruto to Mashin to Mitsu no Onegai Dattebayo ', 2997)
('Naruto Movie 2 Dai Gekitotsu Maboroshi no Chiteiiseki Dattebayo ', 3449)
('Naruto Dai Katsugeki Yuki Hime Shinobu Houjou Dattebayo Special Konoha Annual Sports Festival', 3529)
('Naruto Movie 3 Dai Koufun Mikazuki Jima no Animaru Panikku Dattebayo ', 3560)
('Naruto The Cross Roads', 3561)
('Naruto Narutimate Hero 3 Tsuini Gekitotsu Jounin vs Genin Musabetsu Dairansen taikai Kaisai ', 3838)
('Naruto Takigakure no Shitou Ore ga Eiyuu Dattebayo ', 3984)
('Naruto Akaki Yotsuba no Clover wo Sagase', 5111)

In [41]:
print_similar(id = 99)

Working
Working 039
New Game
Tamako Market
Servant x Service

In [45]:
nrf.columns

Index([u'user_id', u'anime_id', u'rating'], dtype='object')

In [51]:
nrf.reset_index(inplace = True )

In [54]:
prf = nrf.pivot_table(index = 'user_id', columns ='anime_id', values = 'rating', aggfunc = 'mean').fillna(0)

In [57]:
prf.head()

anime_id,1,5,6,7,8,15,16,17,18,19,...,34238,34239,34240,34252,34283,34324,34325,34349,34367,34475
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,8.0,0.0,0.0,6.0,0.0,6.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
Pt = prf.as_matrix()

In [63]:
Pt

array([[  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       ...,
       [  0.,   0.,   0., ...,   0.,   0.,   0.],
       [ 10.,  10.,  10., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ...,   0.,   0.,   0.]])

In [59]:
user_mean = np.mean(Pt, axis = 1)

In [60]:
Ptmean = Pt - user_mean.reshape(-1, 1)

In [64]:
Ptmean

array([[ -4.02941473e-03,  -4.02941473e-03,  -4.02941473e-03, ...,
         -4.02941473e-03,  -4.02941473e-03,  -4.02941473e-03],
       [ -1.00735368e-03,  -1.00735368e-03,  -1.00735368e-03, ...,
         -1.00735368e-03,  -1.00735368e-03,  -1.00735368e-03],
       [ -7.01118163e-02,  -7.01118163e-02,  -7.01118163e-02, ...,
         -7.01118163e-02,  -7.01118163e-02,  -7.01118163e-02],
       ...,
       [ -1.00735368e-03,  -1.00735368e-03,  -1.00735368e-03, ...,
         -1.00735368e-03,  -1.00735368e-03,  -1.00735368e-03],
       [  9.84587489e+00,   9.84587489e+00,   9.84587489e+00, ...,
         -1.54125113e-01,  -1.54125113e-01,  -1.54125113e-01],
       [ -1.81323663e-03,  -1.81323663e-03,  -1.81323663e-03, ...,
         -1.81323663e-03,  -1.81323663e-03,  -1.81323663e-03]])

In [66]:
from scipy.sparse.linalg import svds

In [67]:
U, sigma, Vt = svds(Ptmean, k = 50)

In [69]:
sigma = np.diag(sigma)

In [71]:
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_mean.reshape(-1, 1)

In [73]:
preds_df = pd.DataFrame(all_user_predicted_ratings, columns = prf.columns)

In [149]:
def recommend(userID,num_recommendations=5):
    
    # Get and sort the user's predictions
    user_row_number = userID - 1 # UserID starts at 1, not 0
    sorted_user_predictions = preds_df.iloc[user_row_number].sort_values(ascending=False)
    
    # Get the user's data and merge in the movie information.
    user_data = nrf[nrf.user_id == (userID)]
    user_full = (user_data.merge(df, how = 'left', left_on = 'anime_id', right_on ='anime_id'))
                 
    print 'User {0} has already rated {1} animes.'.format(userID, user_full.shape[0])
    print 'Recommending the following {0} animes not already rated.'.format(num_recommendations)
    
    # Recommend the highest predicted rating movies that the user hasn't seen yet.
    recommendations = (df[~df['anime_id'].isin(user_full['anime_id'])].
         merge(pd.DataFrame(sorted_user_predictions).reset_index(), how = 'left',
               left_on = 'anime_id',
               right_on = 'anime_id').
         rename(columns = {user_row_number: 'Predictions'}).
         sort_values('Predictions', ascending = False).
                       iloc[:num_recommendations, :-1]
                      )

    return user_full, recommendations

In [153]:
already_rated, predictions = recommend(123,10)

User 123 has already rated 462 animes.
Recommending the following 10 animes not already rated.

In [154]:
already_rated.head(10)

,index,user_id,anime_id,rating_x,name,genre,type,episodes,rating_y,members
0,9550,123,16,9.0,Hachimitsu to Clover,"Comedy, Drama, Josei, Romance",TV,24.0,8.18,130646
1,9551,123,45,8.0,Rurouni Kenshin Meiji Kenkaku Romantan,"Action, Adventure, Comedy, Historical, Romance...",TV,94.0,8.43,218928
2,9552,123,133,5.0,Green Green,"Comedy, Ecchi, Romance, School, Slice of Life",TV,12.0,6.44,80562
3,9553,123,149,7.0,Loveless,"Action, Drama, Fantasy, Mystery, Romance, Shou...",TV,12.0,7.19,85554
4,9554,123,154,7.0,Shaman King,"Action, Adventure, Comedy, Drama, Shounen, Sup...",TV,64.0,7.83,169517
5,9555,123,205,7.0,Samurai Champloo,"Action, Adventure, Comedy, Historical, Samurai...",TV,26.0,8.50,390076
6,9556,123,270,7.0,Hellsing,"Action, Horror, Seinen, Supernatural, Vampire",TV,13.0,7.64,308995
7,9557,123,322,7.0,Paradise Kiss,"Comedy, Drama, Josei, Romance, Slice of Life",TV,12.0,7.93,86380
8,9558,123,341,6.0,Spiral Suiri no Kizuna,"Drama, Mystery, Shounen",TV,25.0,7.38,36187
9,9559,123,389,6.0,Karas,"Action, Fantasy, Sci-Fi",OVA,6.0,7.54,44108

In [155]:
predictions.head(10)

,anime_id,name,genre,type,episodes,rating,members
679,20,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220.0,7.81,683297
179,2025,Darker than Black Kuro no Keiyakusha,"Action, Mystery, Sci-Fi, Super Power",TV,25.0,8.25,440334
12,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1.0,8.93,466254
60,10087,Fate Zero,"Action, Fantasy, Supernatural",TV,13.0,8.51,453630
672,2593,Kara no Kyoukai 1 Fukan Fuukei,"Action, Mystery, Supernatural, Thriller",Movie,1.0,7.81,178880
13,1575,Code Geass Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25.0,8.83,715151
106,6547,Angel Beats,"Action, Comedy, Drama, School, Supernatural",TV,13.0,8.39,717796
215,3783,Kara no Kyoukai 3 Tsuukaku Zanryuu,"Action, Drama, Mystery, Supernatural, Thriller",Movie,1.0,8.21,108720
645,11757,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25.0,7.83,893100
388,3782,Kara no Kyoukai 2 Satsujin Kousatsu Zen,"Action, Mystery, Romance, Supernatural, Thriller",Movie,1.0,8.02,114415