# Capestone Project

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy as sp
import seaborn as sns

sns.set_style('whitegrid')

In [18]:
anime = './anime.csv'
rate = './rating.csv'

In [19]:
an = pd.read_csv(anime)

In [20]:
an.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [21]:
an.shape

(12294, 7)

In [22]:
an.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [23]:
rt = pd.read_csv(rate)

In [24]:
rt.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [25]:
rt.shape

(7813737, 3)

In [26]:
rt.isnull().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [27]:
rt['rating'].value_counts()

 8     1646019
-1     1476496
 7     1375287
 9     1254096
 10     955715
 6      637775
 5      282806
 4      104291
 3       41453
 2       23150
 1       16649
Name: rating, dtype: int64

##### -1 indicates that the user watched the anime but did not rate it

##### Better to change all the -1 values with NA so as to not interfere with calculations

In [29]:
rt.loc[rt['rating'] == -1,'rating'] = 'NA'

In [30]:
rt['rating'].value_counts()

8     1646019
NA    1476496
7     1375287
9     1254096
10     955715
6      637775
5      282806
4      104291
3       41453
2       23150
1       16649
Name: rating, dtype: int64

##### Lets try to calulate the missing ratings from the rating dataset